<div id="LookUpBody">


    <span class="success"> Success  Failure </span>
    <div class="editor-label">
        <div class="mypeople">  Add a new Person</div>
        <span class="idnumber"> ID Number</span> <input type="search" id="Search" value=" ">  <input type="button" id="searchButton" value="Search">
    </div>
    <div class="addingPeopleBlock">Lookup result</div>

    <form action="/" method="post">
        <div>
            <div class="editor-label">
                <label for="IDNumber">ID Number</label>
            </div>
            <div class="editor-field">
                <input class="text-box single-line" id="IDNumber" name="IDNumber" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="IDNumber" data-valmsg-replace="true"></span>
            </div>
            <div class="editor-label">
                <label for="FirstName">First name</label>
            </div>
            <div class="editor-field">
                <input class="text-box single-line" id="FirstName" name="FirstName" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
            </div>

            <div class="editor-label">
                <label for="Surname">Last name</label>
            </div>
            <div class="editor-field">
                <input class="text-box single-line" id="Surname" name="Surname" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="Surname" data-valmsg-replace="true"></span>
            </div>

            <div class="editor-label">
                <label for="AddressLine1">Address line 1</label>
            </div>
            <div class="editor-field">
                <input class="text-box single-line" id="AddressLine1" name="AddressLine1" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="AddressLine1" data-valmsg-replace="true"></span>
            </div>

            <div class="editor-label">
                <label for="AddressLine2">Address line 2</label>
            </div>
            <div class="editor-field">
                <input class="text-box single-line" id="AddressLine2" name="AddressLine2" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="AddressLine2" data-valmsg-replace="true"></span>
            </div>

            <div class="editor-label">
                <label for="AddressSuburb">Suburb</label>
            </div>
            <div class="editor-field">
                <input class="text-box single-line" id="AddressSuburb" name="AddressSuburb" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="AddressSuburb" data-valmsg-replace="true"></span>
            </div>

            <div class="editor-label">
                <label for="AddressTownCity">Town/City</label>
            </div>
            <div class="editor-field">
                <input class="text-box single-line" id="AddressTownCity" name="AddressTownCity" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="AddressTownCity" data-valmsg-replace="true"></span>
            </div>

            <div class="editor-label">
                <label for="AddressProvince">Province</label>
            </div>
            <div class="editor-field">
                <input class="text-box single-line" id="AddressProvince" name="AddressProvince" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="AddressProvince" data-valmsg-replace="true"></span>
            </div>

            <div class="editor-label">
                <label for="AddressPostCode">Postcode</label>
            </div>
            <div class="editor-field">
                <input class="text-box single-line" id="AddressPostCode" name="AddressPostCode" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="AddressPostCode" data-valmsg-replace="true"></span>
            </div>




            <p>
                <input type="submit" value="Add person">
            </p>
        </div>
    </form>
</div>