body { font-family: Helvetica; width: 960px; margin-left: auto; margin-right: auto }
h2 { font-size: 18px; }
header { clear: both; margin: auto auto 15px auto; }
nav { border-bottom: 1px solid #ccc; }
nav ul li { display: inline; padding: 5px; }
nav li.active { border-bottom: 4px solid green; }
nav li a { text-decoration: none; }
section { padding: 15px; }
aside { float: left; width: 200px; }
article { float: right; width: 650px; }
article header h3 { margin: 0 auto 15px auto; }
form label { width: 200px; float: left; }
footer { clear: both; padding: 25px 0 0 0; }
button {
	float: right;
	padding: 10px;
	color: black;
	background: #6e9fd9;
	border: 1px solid #224e82;
	font-weight: bold;
}

.submit-button { width: 358px; }
.registration { border: 1px solid #ccc; border-radius: 5px; padding: 5px; background: url("ninja.png") no-repeat 0 0; background-position: 523px 7px; }
.registration-form div { margin: 10px; }